#print-list-b{
  z-index: 1000000;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              left: -265px !important;
  top: 31px !important;
  width: 300px !important;
}

#print-list-b .menu-column__user-menu-ico {
  top: -40px !important;
  left: 247px !important;
  padding: 15px 0 0 18px !important;
}

#print-list-b a.lnk-icon {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  float: left;
  width: 100%;
}

#print-list-b li.ng-star-inserted {
  overflow: hidden !important;
  width: 100% !important;
}

.list-print a.lnk-icon {
  width: 50% !important;
  margin-top: 2em;
  text-align: center;
  color: #0D51B5 !important;
}

.block-print-nam {
  font-size: 1.1em;
  text-align: center;
}
