/node_modules
/storage/logs.*log
/storage/logs/supervisor/*.log
/storage/framework/views/*.php
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
mix-manifest.json
.phpstorm.meta.php
_ide_helper.php
composer.phar
composer.lock
package-lock.json
/public/js/app.js
/public/js/app_.js
/public/js/app.js.LICENSE.txt
/public/css/app.css
.editorconfig
.phpunit.result.cache
