<app-title-view title="Добавить график за период">
</app-title-view>

<form (submit)="submit()" *ngIf="formGroup" [class.show-error]="showError" [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="row">
      <div class="form-wr  col-12 col-lg-8">
        <app-row>
          <ng-template #rowContent>
            <app-col [required]="true" titleName=doctor col="12">
              <ng-template #colContent>
                <app-ui-autocomplete [control]="formGroup.get('employee')" [options]="users$" [type]="crudType.User"
                  field="fullName" placeholder="Укажите врача"></app-ui-autocomplete>
              </ng-template>
            </app-col>
          </ng-template>
        </app-row>
        <app-row>
          <ng-template #rowContent>
            <app-col col="12">
              <ng-template #colContent>
                <div class="check-st">
                  <input formControlName="shift" id="product-active" type="checkbox">
                  <label for="product-active">Смена</label>
                </div>
              </ng-template>
            </app-col>
          </ng-template>
        </app-row>
        <app-row>
          <ng-template #rowContent>
            <app-col [required]="true" titleName=timeFrom col="6">
              <ng-template #colContent>
                <input appUiMaskTime class="inp-st time-mask" formControlName="timeFrom">
              </ng-template>
            </app-col>
            <ng-container *ngIf="formGroup.controls.shift.value; else elseBlock">
              <app-col [required]="true" titleName=shiftWatch col="6">
                <ng-template #colContent>
                  <input class="inp-st" formControlName="time" max="24" min="0" step="0.5" type="number">
                </ng-template>
              </app-col>
            </ng-container>
            <ng-template #elseBlock>
              <app-col [required]="true" titleName=timeTo col="6">
                <ng-template #colContent>
                  <input appUiMaskTime class="inp-st time-mask" formControlName="timeTo">
                </ng-template>
              </app-col>
            </ng-template>
          </ng-template>
        </app-row>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pl-0 pl-lg-2 pr-0">
        <div class="form-wr minH">
          <app-row>
            <ng-template #rowContent>
              <app-col [required]="true"  titleName=calendar >
                <ng-template #colContent>
                  <mat-calendar #calendar   (click)="onSelect1(calendar)" (selectedChange)="onSelect($event)"
                                [dateClass]="dateClass()" [minDate]="minDate" [selected]="selectedDate"></mat-calendar>
                </ng-template>
              </app-col>
            </ng-template>
          </app-row>
        </div>
      </div>
    </div>
  </div>

  <app-reference-button-form [goListUrl]="goListUrl()" [id]="id" [isEdit]="isEdit()" [type]="type">
  </app-reference-button-form>
</form>
