<div class="fancybox-slide--html">
  <div class="popup-history popup-wr" id="popup-weight_changes">
    <div class="popup-wr__head">История изменений</div>
    <div class="popup-wr__body">
      <ul class="menu-icon-lnk">
        <li><a *ngIf="false" href="javascript:alert('Функция в разработке')"><span><app-icon-print></app-icon-print></span>Напечатать</a>
        </li>
        <li><a *ngIf="false" href="javascript:alert('Функция в разработке')"><span><app-icon-download></app-icon-download></span>Скачать</a>
        </li>
      </ul>
    </div>
    <div class="popup-wr__table">
      <table class="delivery">
        <tr>
          <th>Дата измерения</th>
          <th>Возраст</th>
          <th>Вес</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of weight$|async">
          <td>{{petsViewService.getDateFormat(item.date)}}</td>
          <td>{{pet.birthday | age}}</td>
          <td>{{item.value | weight}}</td>
          <td><a (click)="onDelete(item)" class="tr-close"></a></td>
        </tr>
      </table>
      <div class="delivery-grid">
        <div class="form-wr form-wr--adaptive container-fluid">
          <ng-container *ngFor="let item of weight$|async">
            <app-row class="d-flex p-1">
              <ng-template #rowContent>
                <app-col class="p-1" text="Дата">
                  {{petsViewService.getDateFormat(currentWeight.date)}}
                </app-col>
                <app-col class="p-1" text="Возраст">
                  {{pet.birthday | age}}
                </app-col>
                <app-col class="p-1" text="Вес">
                  {{currentWeight.value | weight}}
                </app-col>
              </ng-template>
            </app-row>
            <app-row class="d-flex p-1">
              <ng-template #rowContent>
                <app-col class="p-1">
                  <a (click)="onDelete(item)" class="lnk-delete"></a>
                </app-col>
              </ng-template>
            </app-row>
          </ng-container>
        </div>
      </div>
      <div *ngIf="weightLoading$|async" class="text-center"><span class="loader"></span></div>
    </div>
    <app-button-close></app-button-close>
  </div>
</div>
