<div class="menu-column__lnk-add">
  <a href="/owners/add">
    <app-icon-plus></app-icon-plus>
    Добавить владельца
  </a>
</div>

<div class="menu-column__slider">
  <a href="#" class="menu-column__slider-h">
    <span><app-icon-data></app-icon-data></span>
    Приемная
  </a>
  <ul class="menu-column__slider-lnk">
    <li><a href="/">Запись на прием</a></li>
    <li><a href="/owners" class="lnk-plus">Владельцы</a></li>
    <li><a href="/pets" class="lnk-plus">Животные</a></li>
  </ul>
</div>
