{
    "openapi": "3.0.0",
    "info": {
        "title": "API Notification center",
        "description": "В документации описаны методы для двух типов обрайщений.\n *      Внутреннее (v2) - Требуются права админстратора.\n *      Внешнее (v1) - Требуются права пользователя.\n *      Внешнее без указания версии API  - Требуются токен канала.\n * Для обращение к api, требуются API токен, который нужно передавать GET параметром api_token={YOUR_TOKEN}",
        "contact": {
            "name": "Vadim",
            "email": "osok.vadim@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://notice.mart-info.ru/api",
            "description": "Main host"
        }
    ],
    "paths": {
        "/v1/events/icons": {
            "get": {
                "tags": [
                    "External events"
                ],
                "summary": "Возвращает икогки для событий.",
                "operationId": "App\\Http\\Controllers\\API\\External\\Event\\ApiControllerExternalEventIcons::get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID канала",
                                                        "type": "integer"
                                                    },
                                                    "url": {
                                                        "description": "Ссылка на иконку события",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/notifications/list/": {
            "get": {
                "tags": [
                    "External Notifications (для сторонних систем)"
                ],
                "summary": "Возвращает созданные оповещения. Требуется ключ канала.",
                "operationId": "App\\Http\\Controllers\\API\\External\\Notifications\\ApiControllerExternalNotificationsList::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "External Notifications (для сторонних систем)"
                ],
                "summary": "Создание оповещения. Требуется ключ канала.",
                "operationId": "App\\Http\\Controllers\\API\\External\\Notifications\\ApiControllerExternalNotificationsList::store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Название",
                                        "type": "string",
                                        "example": "АЧС Рузкий район"
                                    },
                                    "event_id": {
                                        "description": "ID события",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "status": {
                                        "description": "Статус оповещения",
                                        "type": "string",
                                        "example": "Открыто"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/notifications/receiver/": {
            "post": {
                "tags": [
                    "External Notifications (для сторонних систем)"
                ],
                "summary": "Отправка оповещений от стороних систем. Требуется ключ канала.",
                "operationId": "App\\Http\\Controllers\\API\\External\\Notifications\\ApiControllerExternalNotificationsReceiver::index",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "organization_id": {
                                        "description": "ID организации",
                                        "type": "integer"
                                    },
                                    "notify_id": {
                                        "description": "ID оповещения",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "text": {
                                        "description": "Текст оповещения",
                                        "type": "string",
                                        "example": "Текст оповещения"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/notifications/events/": {
            "get": {
                "tags": [
                    "External Notifications (для сторонних систем)"
                ],
                "summary": "Возвращает доступные событие по каналу.",
                "operationId": "App\\Http\\Controllers\\API\\External\\Notifications\\ApiControllerExternalNotificationsReceiver::events",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "properties": {
                                                "message": {
                                                    "description": "Сообщение от сервера",
                                                    "type": "string"
                                                },
                                                "events": {
                                                    "description": "События",
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/user/auth": {
            "post": {
                "tags": [
                    "External User"
                ],
                "summary": "Authentication user",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUser::auth",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Номер телефона пользователя",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "Device ID",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "hash": {
                                            "description": "Хеш для проверки кода который будет отправлен на номер телефона",
                                            "type": "string",
                                            "example": "@#TAGh8aSF0asfjspfijaspijeopgOIASHGOUIASGHf"
                                        },
                                        "link": {
                                            "description": "Ссылка для проверки кода",
                                            "type": "string",
                                            "example": "/api/sms/check/{HASH}"
                                        },
                                        "msg": {
                                            "type": "string",
                                            "example": "Параметр появится, если запросить код повторно не подождав 5 минут"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "description": "Сообщение об ошибке",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                }
            }
        },
        "/v1/user/logout": {
            "post": {
                "tags": [
                    "External User"
                ],
                "summary": "Аннулируется токен пользователя",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUser::logout",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Деактивация токена пользователя",
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "description": "Деактивация токена пользователя",
                                            "type": "string",
                                            "example": "Success logout"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/": {
            "get": {
                "tags": [
                    "External User"
                ],
                "summary": "Возвращает информацию пользователя.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUser::info",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "name": {
                                                    "description": "Имя пользователя",
                                                    "type": "string",
                                                    "example": "Albert Efimov"
                                                },
                                                "email": {
                                                    "description": "Почта пользователя",
                                                    "type": "string",
                                                    "example": "test@mail.ru"
                                                },
                                                "phone": {
                                                    "description": "Номер телефона пользователя",
                                                    "type": "integer",
                                                    "example": "79839990099"
                                                },
                                                "organizations": {
                                                    "description": "В какой организации состоит пользователь",
                                                    "type": "string",
                                                    "example": "Руководство Ветеринарии"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/info": {
            "post": {
                "tags": [
                    "External User"
                ],
                "summary": "Обновление информации пользователя.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUser::updateInfo",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "phone": {
                                        "description": "Номер телефона",
                                        "type": "string",
                                        "example": "+79899999999"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string",
                                        "example": "Test Name"
                                    },
                                    "name": {
                                        "description": "Имя пользователя",
                                        "type": "string",
                                        "example": "Test Name"
                                    },
                                    "email": {
                                        "description": "Почта пользователя",
                                        "type": "string",
                                        "example": "test@mail.ru"
                                    },
                                    "notifications_type": {
                                        "description": "Тип оповещения",
                                        "type": "string",
                                        "example": "scheduled|alwaysEnabled|alwaysDisabled"
                                    },
                                    "notifications_time_from": {
                                        "description": "Время оповещения С",
                                        "type": "string",
                                        "example": "00:00"
                                    },
                                    "notifications_time_to": {
                                        "description": "Время оповещения ДО",
                                        "type": "string",
                                        "example": "00:00"
                                    },
                                    "device_platform": {
                                        "description": "Данные о девайсе пользователя",
                                        "properties": {
                                            "platform": {
                                                "type": "string",
                                                "default": "android",
                                                "example": "android or ios"
                                            },
                                            "token": {
                                                "type": "string",
                                                "example": "CL3utSDSvJT1Lj34QtYvF1"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "description": "Имя пользователя",
                                                        "type": "string",
                                                        "example": "Albert Efimov"
                                                    },
                                                    "email": {
                                                        "description": "Почта пользователя",
                                                        "type": "string",
                                                        "example": "test@mail.ru"
                                                    },
                                                    "phone": {
                                                        "description": "Номер телефона пользователя",
                                                        "type": "integer",
                                                        "example": "79839990099"
                                                    },
                                                    "organizations": {
                                                        "description": "В какой организации состоит пользователь",
                                                        "type": "string",
                                                        "example": "Руководство Ветеринарии"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "description": "Сообщение об ошибке",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/api/sms/check/{hash}": {
            "post": {
                "tags": [
                    "External User"
                ],
                "summary": "Проверка кода, отправленного на номер пользователя",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUser::smsCheck",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "description": "Код",
                                        "type": "integer",
                                        "example": "0505"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "token": {
                                            "description": "Токен для работы с системой",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/channels": {
            "get": {
                "tags": [
                    "External User"
                ],
                "summary": "Возвращает каналы доступные пользователю.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUserChannels::index",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "channels": {
                                                    "description": "Список каналов и событий по каналам",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "ID канала",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Имя канала",
                                                                "type": "string"
                                                            },
                                                            "events": {
                                                                "description": "Событие для канала",
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "ID события",
                                                                            "type": "integer"
                                                                        },
                                                                        "name": {
                                                                            "description": "Имя события",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Channel not found"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/events": {
            "get": {
                "tags": [
                    "External User"
                ],
                "summary": "Возвращает события канала доступные пользователю.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUserEvents::index",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "events": {
                                                    "description": "Список событий",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "ID события",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Имя события",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "Статус события",
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "description": "Когда было создано",
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "description": "Последнее обновление события",
                                                                "type": "string"
                                                            },
                                                            "channel_id": {
                                                                "description": "ID канала",
                                                                "type": "integer"
                                                            },
                                                            "unread_count": {
                                                                "description": "Количество не просмотренных уведомлений по событию",
                                                                "type": "integer"
                                                            },
                                                            "icon": {
                                                                "description": "Иконка события",
                                                                "type": "string"
                                                            },
                                                            "img_icon": {
                                                                "description": "Изображения события",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Channel or events not found"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/notifications": {
            "get": {
                "tags": [
                    "External User"
                ],
                "summary": "Возвращает оповещения доступные пользователю.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUserNotifications::index",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Количество элементов на одной странице (Необязательно)",
                        "required": false,
                        "style": "form",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы с элементами (Необязательно)",
                        "required": false,
                        "style": "form",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "channel_id",
                        "in": "query",
                        "description": "ID канала.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "event_id",
                        "in": "query",
                        "description": "ID события.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "description": "Текущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID оповещения",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "message": {
                                                        "description": "Текст оповещения",
                                                        "type": "string"
                                                    },
                                                    "datetime": {
                                                        "description": "Дата, когда было отправлено оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "viewed": {
                                                        "description": "Просмотрено-ли",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "first_page_url": {
                                            "description": "Адрес первой страницы с оповещениями",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Номер последней страницы",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page_url": {
                                            "description": "Последняя страница с оповещениями",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "next_page_url": {
                                            "description": "Следующая страница с оповещениями",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "path": {
                                            "description": "Адрес с оповещениями",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "description": "Предыдущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "prev_page_url": {
                                            "description": "Предыдущая страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "description": "Всего страниц с элементами",
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/notifications/{id}": {
            "post": {
                "tags": [
                    "External User"
                ],
                "summary": "Обновление информации об оповещении пользователя.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUserNotifications::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID оповещения",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "viewed": {
                                        "description": "Обновление информации о том, что пользователь увидел оповещение",
                                        "type": "boolean",
                                        "example": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "msg": {
                                                        "description": "Ответ от сервера",
                                                        "type": "string",
                                                        "example": "Запись успешно обновлена"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error validation"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v1/user/template": {
            "get": {
                "tags": [
                    "External User"
                ],
                "summary": "Возвращает шаблоны доступные пользователю.",
                "operationId": "App\\Http\\Controllers\\API\\External\\User\\ApiControllerExternalUserTemplate::index",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "Список шаблонов",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "color": {
                                                                "description": "Цвет текста",
                                                                "type": "string"
                                                            },
                                                            "format_date": {
                                                                "description": "Формат даты и время",
                                                                "type": "string"
                                                            },
                                                            "show_status_notify": {
                                                                "description": "Показывать-ли статус",
                                                                "type": "boolean"
                                                            },
                                                            "show_date": {
                                                                "description": "Показывать-ли дату",
                                                                "type": "boolean"
                                                            },
                                                            "show_time": {
                                                                "description": "Показывать-ли время",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found group or Not found template"
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v2/channels/administrators": {
            "get": {
                "tags": [
                    "Internal Channels Administrator"
                ],
                "summary": "Возвращает администраторов канала пагинаций.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "description": "Текущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было отправлено оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "first_page_url": {
                                            "description": "Адрес первой страницы с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Номер последней страницы",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page_url": {
                                            "description": "Последняя страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "next_page_url": {
                                            "description": "Следующая страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "path": {
                                            "description": "Адрес с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "description": "Предыдущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "prev_page_url": {
                                            "description": "Предыдущая страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "description": "Всего страниц с элементами",
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Internal Channels Administrator"
                ],
                "summary": "Создание администраторов канала.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel_id": {
                                        "description": "ID канала",
                                        "type": "integer",
                                        "example": "true"
                                    },
                                    "user_id": {
                                        "description": "ID пользователя",
                                        "type": "integer",
                                        "example": "Test"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было создано",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было обновлено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было удалено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v2/channels/administrators/{id}": {
            "get": {
                "tags": [
                    "Internal Channels Administrator"
                ],
                "summary": "Возвращает оповещения конкретного администратора канала.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID записи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было создано",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было обновлено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было удалено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Internal Channels Administrator"
                ],
                "summary": "Обновляем запись об администраторе канала.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID записи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel_id": {
                                        "description": "ID канала",
                                        "type": "integer",
                                        "example": "true"
                                    },
                                    "user_id": {
                                        "description": "ID пользователя",
                                        "type": "integer",
                                        "example": "Test"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было создано",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было обновлено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было удалено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Internal Channels Administrator"
                ],
                "summary": "Удаляем администратора канала.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID записи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "description": "Сообщение",
                                            "type": "boolean",
                                            "example": "Record success deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v2/channels/apis": {
            "get": {
                "tags": [
                    "Internal Channels Apis"
                ],
                "summary": "Возвращает токены канала для сервисов с пагинаций.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "description": "Текущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "api_token": {
                                                        "description": "Токен",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "description": "Имя для сервиса",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было отправлено оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "first_page_url": {
                                            "description": "Адрес первой страницы с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page": {
                                            "description": "Номер последней страницы",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "last_page_url": {
                                            "description": "Последняя страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "next_page_url": {
                                            "description": "Следующая страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "path": {
                                            "description": "Адрес с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "description": "Предыдущая страница",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "prev_page_url": {
                                            "description": "Предыдущая страница с элементами",
                                            "type": "string",
                                            "example": 1
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "description": "Всего страниц с элементами",
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Internal Channels Apis"
                ],
                "summary": "Создание токена для канала.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel_id": {
                                        "description": "ID канала",
                                        "type": "integer",
                                        "example": "true"
                                    },
                                    "name": {
                                        "description": "Имя сервиса",
                                        "type": "string",
                                        "example": "Test"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "api_token": {
                                                        "description": "Токен",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "description": "Имя для сервиса",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было отправлено оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было создано оповещение",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/v2/channels/apis/{id}": {
            "get": {
                "tags": [
                    "Internal Channels Apis"
                ],
                "summary": "Возвращает оповещения конкретного токена канала.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID записи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было создано",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было обновлено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "deleted_at": {
                                                        "description": "Дата, когда было удалено",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error server"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Internal Channels Apis"
                ],
                "summary": "Обновляем запись о токене канала.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID записи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel_id": {
                                        "description": "ID канала",
                                        "type": "integer",
                                        "example": "true"
                                    },
                                    "name": {
                                        "description": "Имя сервиса",
                                        "type": "string",
                                        "example": "Test"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "Статус",
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "data": {
                                            "description": "Массив с элементами",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "ID записи",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "channel_id": {
                                                        "description": "ID канала",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_id": {
                                                        "description": "ID пользователя",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "description": "Дата, когда было создано",
                                                        "type": "string",
                                                        "example": "2020-01-01 19:00:00"
                                                    },
                                                    "updated_at": {
                                                        "description": "Дата, когда было обновлено",
[...]
