<ngx-loading [show]="esiaLoading"></ngx-loading>
<div class="autorize-wr">
  <div class="autorize">
    <div class="text-center"><img id="logo" src="/assets/icons/animals/footprint.svg"></div>
    <div class="text-center mb-2 blue-grey--text text--darken-1">
      <h1>Комплексная Автоматизированная Система</h1>
    </div>
    <router-outlet></router-outlet>
    <div class="additional_block"><hr/> или <hr/></div>
    <div class="esia_button" (click)="getEsiaUrl()"><img src="/assets/icons/other/logo-esia.svg"></div>
  </div>
</div>

<div class="autorize-footer">
  <div class="autorize-footer__head">Служба поддержки</div>
  <div class="autorize-footer__phone"><a [href]=configHref>{{config.tellText}}</a></div>
  <div class="autorize-footer__mob"><a [href]=configMailto>{{config.email}}</a></div>
</div>