<mat-form-field appearance="outline">
  <div class="autocomplete-search-icon"><app-icon-search></app-icon-search></div>
  <input type="text" class="autocomplete-input" matInput [placeholder]="placeholder" [formControl]="control" [matAutocomplete]="auto"
         (blur)="onBlur()" (focus)="onFocus()" [required]="required" [disabled]="disabled"/>
  <div class="icon-container" *ngIf="loading">
    <i class="loader"></i>
  </div>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPetType.bind(this)" [class]="styleClass">
    <div class="mat-option-loading" *ngIf="loading$|async"></div>
    <mat-option *ngFor="let option of filteredOptions" [value]="option" (click)="onSelected()">
      {{option[field]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
