<app-list-filter-view
  [listEmptyOptions]="{
    elementName: 'приоритет исследования',
    title: 'Не найдено ни одного приоритета исследования',
    subtitle: 'Вы можете добавить новый приоритет исследования',
    addLink: ['create']
  }"
  [order]="order"
  [sort]="sort"
  [type]="type"
  filterPlaceholder="Поиск по каталогу"
  title="Приоритет исследования"
>
  <ng-template #titleActionsTemplate>
    <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
      <app-icon-print></app-icon-print>
    </a>
    <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
      <app-icon-download></app-icon-download>
    </a>
    <a class="lnk-add" routerLink="create">Добавить</a>
  </ng-template>

  <ng-template #listHeadTemplate>
    <tr>
      <th>Идентификатор</th>
      <th>Наименование</th>
      <th>Приоритет</th>
    </tr>
  </ng-template>

  <ng-template #listItemTemplate let-item="item">

    <tr>
      <td>{{item.id}}</td>
      <td><a [routerLink]="[item.id]">{{item.name}}</a></td>
      <td><a>{{item.level}}</a></td>
    </tr>
  </ng-template>
</app-list-filter-view>
