<ngx-loading [show]="loading$ | async"></ngx-loading>
<div *ngIf="user" class="header">
  <div class="header__name">{{user.getFullName()}}</div>
</div>
<div class="tab">
  <ul class="tab-btn">
    <li *ngFor="let tab of tabs">
      <ng-container *ngIf="tab.link">
        <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="tab.link"
           routerLinkActive="active"> {{tab.title}} </a>
      </ng-container>
      <ng-container *ngIf="!tab.link && false">
        <a href="javascript:alert('Функция в разработке')"> {{tab.title}} </a>
      </ng-container>
    </li>
  </ul>
  <div class="tab-list">
    <router-outlet></router-outlet>
  </div>
</div>
