<mat-form-field appearance="outline">
  <mat-select disableOptionCentering placeholder="Не выбрано" [formControl]="ngControl?.control" [disabled]="disabled" *ngIf="ngControl?.control">
    <mat-option *ngFor="let option of options" [value]="option.id || option.code" [disabled]="option.disabled || null">
      {{option.name || option.title}}
    </mat-option>
  </mat-select>
  <mat-select disableOptionCentering placeholder="Не выбрано" [(ngModel)]="value" [disabled]="disabled" *ngIf="!ngControl?.control">
    <mat-option *ngFor="let option of options" [value]="option.id || option.code" [disabled]="option.disabled || null">
      {{option.name || option.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
