@import "src/assets/scss/colors";
.search {
  display: flex;
  border: 5px solid $primary;
  border-radius: 4px;
  box-shadow: 0 5px 15px -10px $shadow;
  margin-right: 1px;
  margin-left: 1px;
    input {
      flex: 1;
      padding-left: 2px;
      height: 35px;
      background: $white;
    }
    button {
      padding: 0 25px;
      height: 35px;
      color: $white;
      background: $primary;
      cursor: pointer;
    }
}
.search input:hover {
  background: $light;;

}


.min-select-width {
  min-width: 164px;
}

.search-type {
  width: 164px;
  position: absolute;
  top: 6.8px;
  right: 84px;
}
