<div class="form-wr">
  <div class="lk-info">
    <div class="lk-info__head">
      <p>Настройка стиля</p>
      <span>
                        Вы можете выбрать цвет оформления, который Вам больше нравится
                    </span>
    </div>
    <div #selectBody class="ui-selectmenu-body">
                    <span #selectMenu
                          class="ui-selectmenu-js ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"
                          id="selectmenu-span">
                        <span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span>
                        <span class="ui-selectmenu-text">Выбрать</span>
                    </span>
      <div #selectColor class="ui-selectmenu-popup ui-selectmenu-popup--color">
        <div class="ui-selectmenu-popup__item" data-color="color-1">
          <span class="color-check">Синий</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-2">
          <span class="color-check">Темный графит</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-3">
          <span class="color-check">Космический серый</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-4">
          <span class="color-check">Оливковый</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-5">
          <span class="color-check">Сиреневый</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-6">
          <span class="color-check">Лазурный</span>
        </div>
        <div class="ui-selectmenu-popup__item" data-color="color-7">
          <span class="color-check">Светло-серый</span>
        </div>
      </div>
    </div>
  </div>
</div>
