<div class="tab-list">
  <div class="tab-item">

    <div class="box-empty">
      <h3>
        Нет ни одного счета
        <span>Вы можете добавить счет</span>
      </h3>
      <div class="box-empty__btn">
        <a *ngIf="false" class="btn-st btn-st--inline"
           href="javascript:alert('Функция в разработке')">Добавить счет</a>
      </div>
    </div>

    <div *ngIf="false" class="body-header">
      <div class="body-header__name">Счета</div>
      <div class="body-header__setting">
        <a class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-print></app-icon-print>
        </a>
        <a class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-download></app-icon-download>
        </a>
        <a class="lnk-add" href="javascript:alert('Функция в разработке')">Добавить</a>
      </div>
    </div>

    <div *ngIf="false" class="table-info">
      <table class="table-info-st">
        <tr>
          <th>Дата</th>
          <th>Животное</th>
          <th>Наименование услуг / обращение</th>
          <th>Количество <br>услуг</th>
          <th>Сумма</th>
          <th>Статус</th>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span><del>2 500 р.</del></span>
            <span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Плановая вакцина Дюрамун МАХ5/4L
            с последующим надзором, Плановая
            вакцина Дюрамун МАХ5/4L, Прививка
            от клещей и блох
          </td>
          <td class="td-center">5</td>
          <td><span><del>2 500 р.</del></span>
            <span>2 300 р.</span></td>
          <td class="color-red"><span>Не оплачен</span></td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
        <tr>
          <td><span>20.08.18 <span>18:00</span></span></td>
          <td><a href="">Буренка</a></td>
          <td>Первичный осмотр</td>
          <td class="td-center">2</td>
          <td><span>2 300 р.</span></td>
          <td class="color-gray">Оплачен</td>
        </tr>
      </table>
    </div>
    <a *ngIf="false" class="btn-show-add" href="">Показать все 40 записей</a>
  </div>
</div>
