<!--<ngx-loading [show]="loading | async"></ngx-loading>-->
<div class="header">
  <div class="header__name">{{titleName}}</div>
</div>

<form (submit)="submit()" *ngIf="formGroup" [formGroup]="formGroup">
  <div class="form-wr">
    <app-row>
      <ng-template #rowContent>
        <app-col [required]="true" text="ККМ">
          <ng-template #colContent>
            <app-ui-autocomplete
              [control]="formGroup.get('cashRegister')"
              [options]="referenceCashRegisterItems"
              placeholder="Укажите ККМ"
              [type]="crudType.ReferenceCashRegister"
              [addFilter]="{active: true}"
            ></app-ui-autocomplete>
          </ng-template>
        </app-col>
      </ng-template>
    </app-row>
  </div>
</form>
<div *ngIf="cashRegister && cashRegister.length>0" class="row">
  <div class="col-12 col-sm-6">
    <button (click)="onInfo(formGroup.get('cashRegister').value.id)" [class.btn-loader]="cashService.loaderInfo"
            class="btn btn-primary"
            type="button">
      Запрос параметров регистрации ККМ
    </button>
  </div>
  <div class="col-12 col-sm-6 text-sm-right pt-2 pt-sm-0">
    <button (click)="onStatus(formGroup.get('cashRegister').value.id)" [class.btn-loader]="cashService.loaderStatus"
            class="btn btn-primary"
            type="button">
      Отчет о текущем состоянии расчетов
    </button>
  </div>
</div>

<div *ngIf="cashRegister && cashRegister.length>0">
  <div class="row mt-5 mb-4" style="font-size: 24px">
    <div class="col">
      <strong>Смена</strong>
    </div>
  </div>
  <div class="mb-2 d-none d-lg-flex justify-content-lg-end">
    <div class="pr-2">
      <button (click)="onXReport(formGroup.get('cashRegister').value.id)" [class.btn-st--disabled]="events.xReport"
              [disabled]="events.xReport"
              class="btn btn-primary"
              type="button">Снять отчёт без гашения
      </button>
    </div>
    <div class="pr-2">
      <button (click)="onContinuePrint(formGroup.get('cashRegister').value.id)"
              [class.btn-st--disabled]="events.continuePrint"
              [disabled]="events.continuePrint"
              class="btn btn-primary"
              type="button">Допечатать документ
      </button>
    </div>
    <div >
      <button (click)="onOpen(formGroup.get('cashRegister').value.id)" *ngIf="isHasOpenShift()"
              [class.btn-loader]="loading | async"
              class="btn btn-primary"
              type="button">Открыть кассовую смену
      </button>
    </div>
  </div>
  <div class="mb-2 d-block d-lg-none">
    <div class="row">
      <div class="col-12 col-sm-4  ">
        <button (click)="onXReport(formGroup.get('cashRegister').value.id)" [class.btn-st--disabled]="events.xReport"
                [disabled]="events.xReport"
                class="btn btn-primary"
                type="button">Снять отчёт без гашения
        </button>
      </div>
      <div class="col-12 col-sm-4  pt-2 pt-sm-0">
        <button (click)="onContinuePrint(formGroup.get('cashRegister').value.id)"
                [class.btn-st--disabled]="events.continuePrint"
                [disabled]="events.continuePrint"
                class="btn btn-primary"
                type="button">Допечатать документ
        </button>
      </div>
      <div class="col-12 col-sm-4  pt-2 pt-sm-0">
        <button (click)="onOpen(formGroup.get('cashRegister').value.id)" *ngIf="isHasOpenShift()"
                [class.btn-loader]="loading | async"
                class="btn btn-primary"
                type="button">Открыть кассовую смену
        </button>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="cashRegister && cashService.currentShift[cashRegister] && cashService.currentShift[cashRegister].isLoaded && cashService.currentShift[cashRegister].id"
  class="tab-item">
  <div class="tab-box">
    <div class="row">
      <div class="col">
        <div class="info-tr">
          <div class="info-th">Номер смены</div>
          <div class="info-td">{{cashService.currentShift[cashRegister].fiscalOpen.shiftNumber}}</div>
        </div>
      </div>
      <div class="col">
        <div class="info-tr">
          <div class="info-th">Дата создания</div>
          <div class="info-td">{{cashService.currentShift[cashRegister].createdAt}}</div>
        </div>
      </div>
      <div class="col">
        <div class="info-tr">
          <div class="info-th">Кассир</div>
          <div class="info-td">{{cashService.currentShift[cashRegister].cashier.surname}}
            {{cashService.currentShift[cashRegister].cashier.name}}
            {{cashService.currentShift[cashRegister].cashier.patronymic}}</div>
        </div>
      </div>
      <div class="col">
        <div class="info-tr">
          <div class="info-th">Количество чеков</div>
          <div class="info-td">
            <ng-container>
          <span *ngIf="cashService.currentShift[cashRegister].state.code==='OPEN'">
            {{currentCashReceipts?.length}}
          </span>
              <span *ngIf="cashService.currentShift[cashRegister].state.code!='OPEN'">
            {{cashService.currentShift[cashRegister].fiscalClose.receiptsCount || 0}}
          </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col">

        <div class="info-tr">
          <div class="info-th">Статус</div>
          <div class="info-td">{{cashService.currentShift[cashRegister].state.title}}</div>
        </div>
      </div>
      <div class="col">
        <div class="info-tr">
          <div class="info-th">Дата закрытия</div>
          <div class="info-td">{{cashService.currentShift[cashRegister].fiscalClose.fiscalDocumentDateTime}}</div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="p-1">
        <ng-container *ngIf="cashService.currentShift[cashRegister].state.code === 'OPEN'">
          <button (click)="onClose(formGroup.get('cashRegister').value.id)" [class.btn-loader]="loading | async"
                  class="btn btn-primary"
                  type="button">Закрыть смену
          </button>
        </ng-container>
      </div>
      <div class="p-1">
        <ng-container
          *ngIf="authService.permissions('ROLE_ROOT') && cashService.currentShift[cashRegister].state.code === 'OPEN'">
          <button (click)="onReset(formGroup.get('cashRegister').value.id)" [class.btn-loader]="loading | async"
                  class="btn btn-primary"
                  type="button">Сбросить смену
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentCashReceipts" class="tab-list">
  <div class="tab-item">
    <app-list-view
      [emptyOptions]="{
        title: 'Не найдено ни одного чека ККМ'
      }"
      [items]="currentCashReceipts"
      title="Чеки ККМ"
    >
      <ng-template #actionsTemplate>
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-print></app-icon-print>
        </a>
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-download></app-icon-download>
        </a>
        <a [routerLink]="['cash/cash-receipt/create']" class="lnk-add">Добавить</a>
      </ng-template>

      <ng-template #headTemplate>
        <tr>
          <th>Идентификатор</th>
          <th>Номер чека</th>
          <th>Дата создания</th>
          <th>ККМ</th>
          <th>Кассир</th>
          <th>Тип чека</th>
          <th>Метод оплаты</th>
          <th>Сумма</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
      </ng-template>
      <ng-template #itemTemplate let-item>
        <tr>
          <td><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.id}}</a></td>
          <td><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.fiscal.fiscalDocumentNumber}}</a></td>
          <td>{{item.createdAt}}</td>
          <td>{{item.cashRegister.name}}</td>
          <td>
            {{getFullName(item.cashier)}}
          </td>
          <td>{{item.type.title}}</td>
          <td>{{item.paymentType?.title}}</td>
          <td style="white-space: nowrap">{{item.total | price}}</td>
          <td>{{item.fiscal.state.title}}</td>
          <td>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <app-icon-menu></app-icon-menu>
            </button>
            <mat-menu #menu="matMenu">
              <a (click)="onCashRegisterRegister(item.id)" mat-menu-item>Пробить кассовый чек</a>
              <a (click)="onReturn(item.id)" mat-menu-item>Сделать возврат</a>
            </mat-menu>
          </td>
        </tr>
      </ng-template>
      <ng-template #itemTemplateGrid let-item>
        <div class="form-wr form-wr--adaptive container-fluid">
            <app-row>
              <ng-template #rowContent>
                <app-col col="6" text="Номер чека">
                  <ng-template #colContent>
                    <strong><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.fiscal.fiscalDocumentNumber}}</a></strong>
                  </ng-template>
                </app-col>
                <app-col col="6" text="&#160;" class="text-right">
                  <ng-template #colContent>
                    <a  data-toggle="collapse" [attr.data-target]="c + d + item?.id"  data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="accordion-toggle collapsed ">
                      <span class="expand-lnk"></span>
                      <span class="expand-text"></span>
                    </a>
                  </ng-template>
                </app-col>
              </ng-template>
            </app-row>
          <app-row>
            <ng-template #rowContent>
              <app-col col="12" class="pb-1">
                <ng-template #colContent>
                  <div class="collapse"  [attr.id]="d + item?.id" id="collapseExample">
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Дата создания">
                          <ng-template #colContent>
                            <strong>{{item.createdAt}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="ККМ">
                          <ng-template #colContent>
                            <strong>{{item.cashRegister.name}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Кассир">
                          <ng-template #colContent>
                            <strong>{{getFullName(item.cashier)}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Тип чека">
                          <ng-template #colContent>
                            <strong>{{item.type.title}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Сумма">
                          <ng-template #colContent>
                            <strong>{{item.total | price}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Статус">
                          <ng-template #colContent>
                            <strong>{{item.fiscal.state.title}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                  </div>
                </ng-template>
              </app-col>
            </ng-template>
          </app-row>
        </div>
      </ng-template>
    </app-list-view>
  </div>
</div>
<div *ngIf="currentCashFlows" class="tab-list">
  <div class="tab-item">
    <app-list-view
      [emptyOptions]="{
        title: 'Не найдено ни одного внесения / выплаты'
      }"
      [items]="currentCashFlows"
      title="Внесения / выплаты"
    >
      <ng-template #actionsTemplate>
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-print></app-icon-print>
        </a>
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-download></app-icon-download>
        </a>
        <a [routerLink]="['cash/cash-receipt/create']" class="lnk-add">Добавить</a>
      </ng-template>

      <ng-template #headTemplate>
        <tr>
          <th>Идентификатор</th>
          <th>Номер чека</th>
          <th>Дата создания</th>
          <th>ККМ</th>
          <th>Кассир</th>
          <th>Тип чека</th>
          <th>Сумма</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
      </ng-template>
      <ng-template #itemTemplate let-item>
        <tr>
          <td><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.id}}</a></td>
          <td><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.fiscal.fiscalDocumentNumber}}</a></td>
          <td>{{item.createdAt}}</td>
          <td>{{item.cashRegister.name}}</td>
          <td>
            <!--{{getFullName(item.cashier)}}-->
          </td>
          <td>{{item.type.title}}</td>
          <td style="white-space: nowrap">{{item.total | price}}</td>
          <td>{{item.fiscal.state.title}}</td>
          <td>
            <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
            <!--<app-icon-menu></app-icon-menu>-->
            <!--</button>-->
            <!--<mat-menu #menu="matMenu">-->
            <!--<a mat-menu-item (click)="onCashRegisterRegister(item.id)">Пробить кассовый чек</a>-->
            <!--<a mat-menu-item (click)="onReturn(item.id)">Сделать возврат</a>-->
            <!--</mat-menu>-->
          </td>
        </tr>
      </ng-template>
      <ng-template #itemTemplateGrid let-item>
        <div class="form-wr form-wr--adaptive container-fluid">
          <app-row>
            <ng-template #rowContent>
              <app-col col="6" text="Номер чека">
                <ng-template #colContent>
                  <strong><a [routerLink]="['/cash/cash-receipt/', item.id]">{{item.fiscal.fiscalDocumentNumber}}</a></strong>
                </ng-template>
              </app-col>
              <app-col col="6" text="&#160;" class="text-right">
                <ng-template #colContent>
                  <a  data-toggle="collapse" [attr.data-target]="c2 + d2 + item?.id"  data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" class="accordion-toggle collapsed ">
                    <span class="expand-lnk"></span>
                    <span class="expand-text"></span>
                  </a>
                </ng-template>
              </app-col>
            </ng-template>
          </app-row>
          <app-row>
            <ng-template #rowContent>
              <app-col col="12" class="pb-1">
                <ng-template #colContent>
                  <div class="collapse"  [attr.id]="d2 + item?.id" id="collapseExample2">
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Дата создания">
                          <ng-template #colContent>
                            <strong>{{item.createdAt}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="ККМ">
                          <ng-template #colContent>
                            <strong>{{item.cashRegister.name}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Кассир">
                          <ng-template #colContent>
                            <strong>{{getFullName(item.cashier)}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Тип чека">
                          <ng-template #colContent>
                            <strong>{{item.type.title}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Сумма">
                          <ng-template #colContent>
                            <strong>{{item.total | price}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                    <app-row>
                      <ng-template #rowContent>
                        <app-col text="Статус">
                          <ng-template #colContent>
                            <strong>{{item.fiscal.state.title}}</strong>
                          </ng-template>
                        </app-col>
                      </ng-template>
                    </app-row>
                  </div>
                </ng-template>
              </app-col>
            </ng-template>
          </app-row>
        </div>
      </ng-template>
    </app-list-view>
  </div>
</div>
