<app-list-filter-view
  [listEmptyOptions]="{
    elementName: 'статус владельца',
    title: 'Не найдено ни одного статуса владельца',
    subtitle: 'Вы можете добавить новый статус владельца',
    addLink: ['create']
  }"
  [type]="type"
  filterPlaceholder="Поиск по каталогу"
  title="Статусы владельцев"
>
  <ng-template #titleActionsTemplate>
    <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
      <app-icon-print></app-icon-print>
    </a>
    <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
      <app-icon-download></app-icon-download>
    </a>
    <a class="lnk-add" routerLink="create">Добавить</a>
  </ng-template>

  <ng-template #listHeadTemplate>
    <tr>
      <th>Идентификатор</th>
      <th>Наименование</th>
      <th>Цвет</th>
      <th>Сортировка</th>
    </tr>
  </ng-template>

  <ng-template #listItemTemplate let-item="item">

    <tr>
      <td>{{item.id}}</td>
      <td><a [routerLink]="[item.id]">{{item.name}}</a></td>
      <td>{{item.color}}</td>
      <td>{{item.sort}}</td>
    </tr>
  </ng-template>
</app-list-filter-view>
