<mat-form-field [appearance]="appearance">
  <mat-label>{{label}}</mat-label>
  <span matPrefix *ngIf="prefix">{{prefix}}</span>
  <input  matInput #input [placeholder]="placeholder" 
          [errorStateMatcher]="matcher"
          [required]="required"
          [maxLength]="type == 'number' ? maxLength : 10000"
          [readonly]="readonly"
          [disabled]="disabled"
          [type]="type"
          [formControl]="control">
  <mat-icon matSuffix *ngIf="suffixIcon">{{suffixIcon}}</mat-icon>
  <mat-hint align="start" *ngIf="hint">{{hint}}</mat-hint>
  <mat-hint align="end" *ngIf="maxLength">{{control?.value?.length}} / {{maxLength}}</mat-hint>

  <mat-error *ngIf="control && control.hasError('required')">
    <strong>Поле обязательно для заполнения</strong>
  </mat-error>

  <button *ngIf="control.value && clearable" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
