<ngx-loading [show]="loading$ | async"></ngx-loading>
<div *ngIf="(items|async).length > 0 && (loading$|async)===false">
  <div *ngIf="false" class="popup-wr__search popup-wr__search--ico">
    <input [(ngModel)]="query" name="query" placeholder="Поиск по ключевому слову" type="text">
    <input onclick="alert('Функция в разработке')" type="submit" value="Найти">
  </div>
  <div *ngIf="((items | async) | fullTextSearch:query:'appointment':'name').length > 0">
    <div class="body-header">
      <div class="body-header__name">Документы</div>
      <div class="body-header__setting">
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-print></app-icon-print>
        </a>
        <a *ngIf="false" class="lnk-ico" href="javascript:alert('Функция в разработке')">
          <app-icon-download></app-icon-download>
        </a>
        <!--<a href="#popup-add-file" data-fancybox class="lnk-add">Добавить</a>-->
        <a (click)="addFile()" class="lnk-add">Добавить</a>
      </div>
    </div>
    <div class="table-info delivery">
      <table class="table-info-st table-info-st--close">
        <tr>
          <th>Дата</th>
          <th style="width: 20px"></th>
          <th>Название</th>
          <th>Тип</th>
          <th>Формат</th>
          <th>Размер</th>
          <th></th>
        </tr>
        <ng-container *ngFor="let item of (items | async) | fullTextSearch:query:'appointment':'name' let i=index">
          <tr *ngIf="(limit === 0 || i<limit || query)">
            <td>{{getDate(item.createdAt)}} <span>{{getTime(item.createdAt)}}</span></td>
            <td>
              <a *ngIf="item.appointment" [routerLink]="['/appointments', item.appointment.id]">
                <app-icon-calendar></app-icon-calendar>
              </a>
            </td>
            <td><a
              href="{{ item.uploadedFile.path === null? '/uploaded' : item.uploadedFile.path}}/{{item.uploadedFile.name}}"
              target="_blank">{{item.name}}</a></td>
            <td>
              <ng-container *ngIf="item.type && item.type.name">{{item.type.name}}</ng-container>
            </td>
            <td>
              <app-file-type-icon [mimeType]="item.uploadedFile.mimeType"></app-file-type-icon>
            </td>
            <td>{{item.uploadedFile.size|fileSize}}</td>
            <td><a (click)="setRemoveFile(item);" class="tr-close" data-fancybox href="#remove-file"></a></td>
          </tr>
        </ng-container>
      </table>
    </div>
    <div class="delivery-grid">
      <div class="form-wr form-wr--adaptive container-fluid">
        <ng-container *ngFor="let item of (items | async) | fullTextSearch:query:'appointment':'name' let i=index">
          <div *ngIf="(limit === 0 || i<limit || query)">
            <app-row class="d-flex p-1">
              <ng-template #rowContent>
                <app-col class="p-1" text="Название">
                  <ng-template #colContent>
                    <a
                      href="{{ item.uploadedFile.path === null? '/uploaded' : item.uploadedFile.path}}/{{item.uploadedFile.name}}"
                      target="_blank">{{item.name}}</a>
                  </ng-template>
                </app-col>
                <app-col class="p-1" >
                  <ng-template #colContent>
                    <a *ngIf="item.appointment" [routerLink]="['/appointments', item.appointment.id]">
                      <app-icon-calendar></app-icon-calendar>
                    </a>
                  </ng-template>
                </app-col>
                <app-col class="p-1 text-right">
                  <ng-template #colContent>
                    <a  data-toggle="collapse" [attr.data-target]="c + d + item?.id"  data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="accordion-toggle collapsed ">
                      <span class="expand-lnk"></span>
                      <span class="expand-text"></span>
                    </a>
                  </ng-template>
                </app-col>
              </ng-template>
            </app-row>
            <app-row>
              <ng-template #rowContent>
                <app-col col="12" class="pb-1">
                  <ng-template #colContent>
                    <div class="collapse"  [attr.id]="d + item?.id" id="collapseExample">
                      <app-row class="d-flex p-1">
                        <ng-template #rowContent>
                          <app-col class="p-1" text="Дата">
                            <ng-template #colContent>
                              {{getDate(item.createdAt)}} <strong>{{getTime(item.createdAt)}}</strong>
                            </ng-template>
                          </app-col>
                        </ng-template>
                      </app-row>
                      <app-row class="d-flex p-1">
                        <ng-template #rowContent>
                          <app-col class="p-1" text="Тип">
                            <ng-template #colContent>
                              <strong >
                                <ng-container *ngIf="item.type && item.type.name">{{item.type.name}}</ng-container>
                              </strong>
                            </ng-template>
                          </app-col>
                          <app-col class="p-1"text="Формат">
                            <ng-template #colContent>
                              <app-file-type-icon [mimeType]="item.uploadedFile.mimeType"></app-file-type-icon>
                            </ng-template>
                          </app-col>
                          <app-col class="p-1" text="Размер">
                            <ng-template #colContent>
                              <strong>{{item.uploadedFile.size|fileSize}}</strong>
                            </ng-template>
                          </app-col>
                        </ng-template>
                      </app-row>
                      <app-row class="d-flex p-1">
                        <ng-template #rowContent>
                          <app-col class="p-1">
                            <ng-template #colContent>
                              <a (click)="setRemoveFile(item);" class="lnk-delete" data-fancybox href="#remove-file"></a>
                            </ng-template>
                          </app-col>
                        </ng-template>
                      </app-row>
                    </div>
                  </ng-template>
                </app-col>
              </ng-template>
            </app-row>
          </div>
        </ng-container>
      </div>
    </div>

    <a (click)="showAll($event)" *ngIf="limitRow >0 && limitRow < (items|async).length && !query" class="btn-show-add"
       href="">Показать
      все {{(items|async).length}}
      записей</a>
  </div>
</div>
<div *ngIf="(items|async).length === 0 && (loading$ | async) === false" class="box-empty">
  <h3> Нет ни одного файла <span>Вы можете добавить файлы</span></h3>
  <div class="box-empty__btn"><a (click)="addFile()" class="btn-st btn-st--inline">Добавить файл</a></div>
</div>
<div
  *ngIf="((items | async) | fullTextSearch:query:'appointment':'name').length === 0 && (loading$|async)===false && (items|async).length > 0"
  class="box-empty box-empty--search">
  <h3> Ничего не найдено <span>Попробуйте указать другой запрос</span></h3>
</div>
<div class="popup-hide">
  <div class="popup-close-id popup-wr" id="remove-file">
    <ngx-loading [config]="{fullScreenBackdrop: true,  primaryColour: '#000000', secondaryColour: '#000000'}"
                 [show]="loadingRemove$|async"></ngx-loading>
    <div class="popup-wr__head">
      Вы точно хотите удалить
      документ?
      <div class="popup-wr__head-comment">Действие необратимо <br> ({{fileRemove?.name}})
      </div>
    </div>
    <div class="popup-wr__footer">
      <a class="btn-st btn-st--left btn-st--gray" data-fancybox-close href="">Отмена</a>
      <a (click)="removeFile($event)" class="btn-st btn-st--right btn-st--red" href="">Удалить</a>
    </div>
  </div>
</div>
