# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f10171bba6959c9399b7caf814f2625b
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=postgresql://viktorkrasnov@localhost:5432/corvet
CAS_DATABASE_URL=postgresql://uer:password@localhost:5432/db_name
###< doctrine/doctrine-bundle ###
SECURITY_ADDRESS="http://127.0.0.1:8000" #локальный домен
MICROSERVICE_CLIENT_ID=1_3u3bpqxw736s4kgo0gsco4kw48gos800gscg4s4w8w80oogc8c
MICROSERVICE_CLIENT_SECRET=6cja0geitwsok4gckw0cc0c04sc0sgwgo8kggcoc08wocsw8wg
PASSWORD_CONFIRMATION_CODE_SMS_LENGTH=4 #длина кода восстановления пароля для смс
PASSWORD_CONFIRMATION_CODE_EMAIL_LENGTH=4 #длина кода восстановленяи пароля для email
PASSWORD_CONFIRMATION_CODE_LIFETIME=10 #время жизни в минутах
PASSWORD_CONFIRMATION_EMAIL_FROM=no-reply@kor-vet.ru #конфигурация, откуда слать письмо

UPLOAD_FILE_PUBLIC_DIR=uploaded

RABBITMQ_HOST=rabbitmq.test.web-slon.com
RABBITMQ_PORT=5672
RABBITMQ_HTTP_PORT=443
RABBITMQ_HTTP_PROTOCOL=https
RABBITMQ_USERNAME=korvet-test
RABBITMQ_PASSWORD=Korvet!12345
RABBITMQ_VHOST=korvet
RABBITMQ_LIFETIME_CALLBACK_RPC_QUEUE=30

ALLOW_CLOSE_SHIFT_IGNORE_SCHEDULE=1

SWAGGER_API_CURRENT_HOST=api.dev.kor-vet.ru
FILTER_LIKE_AUTOCOMPLETE=1
CASH_RECEIPT_REGISTER_EXPIRES_IN=5

VAULT_SERVER=

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> symfony/lock ###
# Choose one of the stores below
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=semaphore
###< symfony/lock ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###
