<div class="page-404__wr">
  <div class="page-404__body">
    <div class="page-404__logo">
      <a routerLink="/">
        <img src="/assets/img/logo-blue.svg" alt="">
      </a>
    </div>
    <div class="page-404__name">404</div>
    <div class="page-404__cont">
      <strong>Страница не найдена</strong>
      Попробуйте вернуться на&nbsp;<a routerLink="/">главную&nbsp;страницу</a>
    </div>
    <div class="page-404__footer">
      <span><img src="/assets/img/404-img.svg" alt=""></span>
    </div>
  </div>
</div>
