<ng-container *ngIf="images.length > 0">
  <div class="table-info delivery">
    <table class="table-info-st table-info-st--close">
      <tr>
        <th></th>
        <th>Название</th>
        <th>Тип</th>
        <th>Размер</th>
        <th></th>
      </tr>
      <ng-container *ngFor="let item of images let i=index">
        <tr>
          <td>
            <a href="{{ item.uploadedFile.path === null? '/uploaded' : item.uploadedFile.path}}/{{item.uploadedFile.name}}"
              target="_blank">
              <app-file-type-icon [mimeType]="item.uploadedFile.mimeType"></app-file-type-icon>
            </a>
          </td>
          <td>{{item.name}}</td>
          <td>
            <ng-container>{{item.photoType.title}}</ng-container>
          </td>
          <td>{{item.uploadedFile.size|fileSize}}</td>
          <td><a (click)="setRemoveFile(item);" class="tr-close"></a></td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="delivery-grid">
    <div class="form-wr form-wr--adaptive container-fluid">
      <ng-container *ngFor="let item of images let i=index">
        <app-row>
          <ng-template #rowContent>
            <app-col col="1" >
              <ng-template #colContent>
                <a href="{{ item.uploadedFile.path === null? '/uploaded' : item.uploadedFile.path}}/{{item.uploadedFile.name}}"
                   target="_blank">
                  <app-file-type-icon [mimeType]="item.uploadedFile.mimeType"></app-file-type-icon>
                </a>
              </ng-template>
            </app-col>
            <app-col col="3" titleName="type">
              <ng-template #colContent>
                <ng-container>{{item.photoType.title}}</ng-container>
              </ng-template>
            </app-col>
            <app-col col="6" class="text-right">
              <ng-template #colContent>
                <a  data-toggle="collapse" [attr.data-target]="c + d + item?.id"  data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="accordion-toggle collapsed">
                  <span class="expand-lnk"></span>
                  <span class="expand-text"></span>
                </a>
              </ng-template>
            </app-col>
          </ng-template>
        </app-row>
        <div class="collapse"  [attr.id]="d + item?.id" id="collapseExample">
          <app-row class="pt-2">
            <ng-template #rowContent>
              <app-col col="12 col-md-3" titleName="name">
                <ng-template #colContent>
                  <strong> {{item.name}}</strong>
                </ng-template>
              </app-col>
              <app-col col="12 col-md-3" titleName="type" class="pt-2 pb-2 pt-md-0 pb-md-0">
                <ng-template #colContent>
                  <strong><ng-container>{{item.photoType.title}}</ng-container></strong>
                </ng-template>
              </app-col>
              <app-col col="12 col-md-2" text="Размер">
                <ng-template #colContent>
                  <strong>{{item.uploadedFile.size|fileSize}}</strong>
                </ng-template>
              </app-col>
              <app-col col="12 col-md-4 "  class="text-left text-md-right">
                <ng-template #colContent>
                  <a (click)="setRemoveFile(item)" class="lnk-delete">Удалить</a>
                </ng-template>
              </app-col>
            </ng-template>
          </app-row>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
