<div class="fancybox-slide--html">
  <div id="close-id" class="popup-close-id popup-wr">
    <div class="popup-wr__head" *ngIf="data.head">
      <span [innerHTML]="data.head"></span>
      <div class="popup-wr__head-comment" [innerHTML]="data.headComment" *ngIf="data.headComment"></div>
    </div>
    <div class="popup-wr__body" [innerHTML]="data.body" *ngIf="data.body"></div>
    <div class="popup-wr__head" *ngIf="data.numbersTitle" id="inputSumSubheader">
      <div class="popup-wr__head">{{data.numbersTitle}}</div>
      <div class="popup-wr__body">{{first}} + {{second}} = <input type="number" [formControl]="sumResult"></div>
      <div class="popup-wr__head-comment" *ngIf="errorSumm">Не верно указана сумма</div>
    </div>
    <div class="popup-wr__footer" *ngIf="data.actions && data.actions.length">
      <ng-container *ngFor="let action of data.actions">
        <button *ngIf="!action.action" [ngClass]="action.class"
                [mat-dialog-close]="action.action">{{action.title}}</button>
        <button *ngIf="action.action" [ngClass]="action.class" (click)="submit()">{{action.title}}</button>
      </ng-container>
    </div>
    <app-button-close></app-button-close>
  </div>
</div>
