<div class="header">
  <div class="header__name">{{title}}</div>
</div>

<form (submit)="submit()" *ngIf="formGroup" [formGroup]="formGroup">
  <div class="form-wr">
    <app-row>
      <ng-template #rowContent>
        <app-col titleName=name col="7" class="pb-2">
          <ng-template #colContent>
            <input [(ngModel)]="item.name" class="inp-st" formControlName="name" type="text"/>
          </ng-template>
        </app-col>
      </ng-template>
    </app-row>
    <app-row>
      <ng-template #rowContent>
        <app-col titleName=parentCategory col="7" class="pb-2">
          <ng-template #colContent>
            <app-ui-autocomplete
              (receivedCollectionFilter)="filter($event)"
              [fields]="categoryFields"
              [control]="formGroup.get('parent')"
              [type]="crudType.ReferenceCategoryNomenclature"
            ></app-ui-autocomplete>
          </ng-template>
        </app-col>
      </ng-template>
    </app-row>
    <app-row>
      <ng-template #rowContent>
        <app-col titleName=sort col="7" class="pb-2">
          <ng-template #colContent>
            <input [(ngModel)]="item.sort" class="inp-st" formControlName="sort" type="number"/>
          </ng-template>
        </app-col>
      </ng-template>
    </app-row>
  </div>
  <app-reference-button-form
    [goListUrl]="goListUrl()"
    [id]="id"
    [isEdit]="isEdit()"
    [type]="type"
  ></app-reference-button-form>
</form>

