<ng-container *ngIf="user">
  <div class="form-wr container-fluid">
    <div class="row">
      <div class="col-5 col-md-2 pb-3">
        <a (click)="photoClick($event)" class="ava-edit" style="min-height: 134px">
          <img alt="" src="{{getImgUser()}}">
          <span>Изменить <br>фото</span>
        </a>
        <input #photoInput (change)="photoUpload($event)" accept="image/jpeg,image/png,image/gif" class="ava-edit-input"
               type="file">
      </div>
      <div class="col-5 col-md-10">
        <div class="container-fluid">
          <div class="row">
            <div class="col 12 text-left" style="font-size: 18px">
              <strong>{{user.user.FullName}}</strong>
              {{user.user.additionalFields.position}}
            </div>
          </div>
          <div class="row mt-2 mt-md-5">
            <div class="col pt-0 pt-md-5">
              <span>{{user.user['phone']}}</span>
              <span><a href="mailto:{{user.user.email}}">{{user.user.email}}</a></span>
            </div>
            <div class="col text-left text-md-right pt-2 pt-md-5">
              <ng-container
                *ngIf="user.user && user.user.additionalFields && user.user.additionalFields.hours && user.user.additionalFields.hours.length">
                <ng-container *ngFor="let hour of user.user.additionalFields.hours; let l = last">
                  {{hour}}<br *ngIf="!l"/>
                </ng-container>
              </ng-container>
              <a [routerLink]="['change-password']">Изменить пароль</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="user.user.additionalFields.company" class="form-wr">
    <div class="lk-info">
      <div class="lk-info__head">
        <p>Работает в</p>
        <p>{{user.user.additionalFields.company.name}}</p>
        <span>{{user.user.additionalFields.company.address}}<br>
          {{user.user.additionalFields.company.phone}}
                    </span>
      </div>
      <div class="lk-info__clock">
        <ng-container
          *ngIf="user.user && user.user.additionalFields && user.user.additionalFields.company && user.user.additionalFields.company.hours && user.user.additionalFields.company.hours.length">
          <ng-container *ngFor="let hour of user.user.additionalFields.company.hours; let l = last">
            {{hour}}<br *ngIf="!l"/>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="false" class="form-wr">
    <div class="lk-info">
      <div class="lk-info__head">
        <p>Настройка подписок</p>
        <span>
                        Выберите какие сообщения Вы будете получать на почту, а какие - в систему
                    </span>
      </div>
      <form action="">
        <table class="lk-setting">
          <tr>
            <th>Тип сообщения</th>
            <th>Почта</th>
            <th>Система</th>
          </tr>
          <tr>
            <td>Изменения пароля</td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-1" type="checkbox">
                <label for="checkbox-1"></label>
              </div>
            </td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-10" type="checkbox">
                <label for="checkbox-10"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Изменения статуса приемов</td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-2" type="checkbox">
                <label for="checkbox-2"></label>
              </div>
            </td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-20" type="checkbox">
                <label for="checkbox-20"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Изменения статусов оплаты</td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-3" type="checkbox">
                <label for="checkbox-3"></label>
              </div>
            </td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-30" type="checkbox">
                <label for="checkbox-30"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Поступление новых отчетов</td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-4" type="checkbox">
                <label for="checkbox-4"></label>
              </div>
            </td>
            <td>
              <div class="check-st">
                <input checked id="checkbox-40" type="checkbox">
                <label for="checkbox-40"></label>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <app-lk-main-colorpicker></app-lk-main-colorpicker>
</ng-container>
