<div class="position-relative">
  <ngx-loading [show]="passwordChangeLoading$|async"></ngx-loading>
  <form (submit)="submit()" [formGroup]="formGroup" class="form-new-password">
    <div class="form-wr container-fluid">
      <app-row>
        <ng-template #rowContent>
          <app-col [required]="true" text="Введите старый пароль" class="pb-2">
            <ng-template #colContent>
              <input class="inp-st" formControlName="oldPassword" type="password">
            </ng-template>
          </app-col>
        </ng-template>
      </app-row>
      <app-row>
        <ng-template #rowContent>
          <app-col [required]="true" text="Введите новый пароль" class="pb-2">
            <ng-template #colContent>
              <input class="inp-st" formControlName="password" type="password">
            </ng-template>
          </app-col>
        </ng-template>
      </app-row>
      <app-row>
        <ng-template #rowContent>
          <app-col [required]="true" text="Повторите новый пароль" class="pb-2">
            <ng-template #colContent>
              <input class="inp-st" formControlName="passwordConfirm" type="password">
            </ng-template>
          </app-col>
        </ng-template>
      </app-row>
    </div>
    <div class="form-footer">
      <button class="btn-st btn-st--right" routerLink="/lk" type="reset">Отмена</button>
      <button [disabled]="!formGroup.valid" [ngClass]="{'btn-st--gray': !formGroup.valid}" class="btn-st btn-st--left"
              type="submit">Сохранить
      </button>
    </div>
  </form>
</div>
