<main class="krv-main" data-booted="true">
  <div class="krv-main__wrap">
    <section class="container pa-4 pa-sm-6 pa-md-8 container--fluid">
      <div class="krv-responsive mx-auto overflow-visible">
        <div class="krv-responsive__content">
          <div class="container text-center fill-height" style="height: calc(100vh - 72px);">
            <div class="row align-center">
              <div class="col">
                <div class="text-h1 transition-swing">404</div>
                <div class="text-subtitle-1 transition-swing"><strong>Страница не найдена</strong></div>
                <div class="text-subtitle-2 transition-swing">Попробуйте вернуться на Попробуйте вернуться на <a routerLink="/">главную&nbsp;страницу</a></div>
                <div class="mt-10">
                  <img src="/assets/img/404-img.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

