<div class="position-relative">
  <ngx-loading [show]="passwordChangeLoading$|async"></ngx-loading>
  <form (submit)="submit()" [formGroup]="formGroup" class="form-new-password">
    <div class="k-form container-fluid">
      <k-row>
        <ng-template #row>
          <k-col cols="12">
            <ng-template #col>
              <k-text-field type="password" label="Введите старый пароль" required [control]="formGroup.get('oldPassword')"></k-text-field>
            </ng-template>
          </k-col>
        </ng-template>

      </k-row>
      <k-row>
        <ng-template #row>
          <k-col cols="12">
            <ng-template #col>
              <k-text-field type="password" label="Введите новый пароль" required [control]="formGroup.get('password')"></k-text-field>
            </ng-template>
          </k-col>
        </ng-template>

      </k-row>
      <k-row>
        <ng-template #row>
          <k-col cols="12">
            <ng-template #col>
              <k-text-field type="password" label="Повторите новый пароль" required [control]="formGroup.get('passwordConfirm')"></k-text-field>
            </ng-template>
          </k-col>
        </ng-template>

      </k-row>
    </div>
    <k-row>
      <ng-template #row>
        <k-col cols="12">
          <ng-template #col>
            <div fxFlex="49">
              <button mat-raised-button type="reset" routerLink="/lk">Отмена</button>
            </div>
            <div fxFlex="49" class="text-right">
              <button mat-raised-button  [disabled]="!formGroup.valid" [ngClass]="{'btn-st--gray': !formGroup.valid}" type="submit">Сохранить</button>
            </div>
          </ng-template>
        </k-col>
      </ng-template>
    </k-row>
  </form>
</div>
